@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: #FFF;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    position: relative;
}
h1 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0;
}
h3 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    color: #4A4444;
    text-transform: uppercase;
    padding: 1%;
}
p {
    padding: 2%;
    color: #4A4444;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
}
.clearfix {
    clear: both;
}
/* Start Image Slider Style */
.slider {
    width: 100%;
}
.slider1 img {
    min-width: 100%;
    margin: 0 auto;
}
.slider .bx-wrapper .bx-controls-direction a {
    outline: 0, none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1;
    transition: all 0.7s;
}
.slider .bx-wrapper:hover .bx-controls-direction a {
    z-index: 5;
}
.slider .bx-wrapper .bx-prev {
    background: #000 url("../img/left-arrow-white.png") no-repeat 8px 13px;
    left: 0px;
    opacity: 0.3; 
}
.slider .bx-wrapper .bx-prev:hover {
    opacity: 0.6; 
}
.slider .bx-wrapper .bx-next {
    background: #000 url("../img/right-arrow-white.png") no-repeat 8px 13px;
    right: 0px;
    opacity: 0.3; 
}
.slider .bx-wrapper .bx-next:hover {
    opacity: 0.6; 
}
/* End Image Slider Style */
/* Start Banner Wrapper */
#banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.one-half {
    width: 44%;
    float: left;
    margin: 2% 0 3% 4%;
}
.one-third {
    width: 28%;
    float: left;
    margin: 2% 0 3% 4%;
}
.left-col {
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
}
.sidebar {
    width: 26%;
    float: right;
    margin: 4% 4%;
}
.sidebar img {
    opacity: 0.8;
}
/* End Banner Wrapper */
/* Start Parallax Section */
.parallax-1 {
    background: url("../img/parallax/brick-2.jpg") repeat fixed 100%;
    text-align: center;
}
.parallax-2 {
    background: url("../img/parallax/brick-2.jpg") repeat fixed 100%;
    text-align: center;
}
.parallax-inner {
    padding-top: 90px;
    padding-bottom: 300px;
}
.parallax-inner h3, .parallax-inner p {
    color: #F1F1F1;
}
/* End Parallax Section */
/* Start Footer Section */
footer {
    background: #262E37;
    opacity: 0.8;
    width: 100%;
    margin-top: 5%;
    padding: 1% 0;
    overflow: auto;
}
footer p {
    color: #FFF;
}
#media-wrapper {
    max-width: 220px;
    margin: 0 auto;
}
.media {
    float: left;
    margin: 8% 0 3% 4%;
}
#perso {
    margin-top: 80px;
}
#perso p {
    text-align: center;
}
/* End Footer Section */
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .slider .bx-wrapper .bx-controls {
        display: none;
    }
    .parallax-inner { 
        width: 100%;
        padding-top: 20px;
        padding-bottom: 600px;
        margin-bottom: 20px;
    }
    .one-third {
        width: 100%;
        margin: 4% 0;
    }
    .one-half {
        width: 100%;
        margin: 4% 0;
    }
    h1 {
        font-size: 125%;
    }
    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .sidebar {
        width: 100%;
        margin: 0;
    }
    img {
        width: 100%;
    }
    h3 {
        padding-top: 3%;
        font-size: 80%;
    }
}
/* Start Custom */
#services {
    margin-top: 30px;
}
/* End Custom */ 